Laboratorio2/.vscode/*
Laboratorio2/build/*
Laboratorio2/.devcontainer/*
Laboratorio3/.vscode/*
Laboratorio3/build/*
Laboratorio3/.devcontainer/*
LabLAB_Final_MQTT/.vscode/*
LabLAB_Final_MQTT/build/*
LabLAB_Final_MQTT/.devcontainer/*